/* Change all the elements (including class and id)*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*For the body section style (Changing the font for everything)*/
body{
    font-family: 'Lora', serif;
}

/*Changing the style format for the Container class*/
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(
      circle,
    rgba(42, 63, 255, 0.6334908963585435) 0%,
    rgba(26, 165, 232, 0.8407738095238095) 35%,
    rgba(24, 24, 24, 1) 100%
    );
}

/*Changing the Weather class style format*/
.weather{
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 1.5rem;
}

/*Changing the location ID style format*/
#location{
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
}

/*Changing the DESC (description) Class style format*/
.desc{
    font-size: 1.25rem;
    text-transform: capitalize;
}

/*Changing the Circle class style format*/
.circle{
    background-color: black;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    margin: 0 15px;
}