/*Select all elements, and set their background color to ...*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
}
/*
#snow-flake-app{
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}
*/


body{
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    text-rendering: optimizeLegibility;
    /*
    background-color: black;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(35, 71, 87, 1)); Second RGBA will be on top of the webpage (CYAN: 0, 100, 100)
    */
}

/*Selecting the title-card to be on the top*/
.title-card{
    display: grid;
    
    padding-top: 100px;
    padding-left: 0px;
}

/*The title font and alignment*/
.title-header{
    font-weight: 900;
    text-align: center;
    color: #a1b1c1;
    font-size: 80px;
    border-radius: 5px;
    opacity: 30%;
}

/*Going to be modifying the page wrapper and specifically the picture*/
.page-wrapper{
    display: flex;
    max-width: 1500px;
    justify-content: center;
    justify-content: space-evenly;
    height: 100vh;
    flex-wrap: wrap;
    opacity: 80%;
    
}

/*All of header 2*/
h2{
    font-size: 1.7rem;
    line-height: 2rem;
    margin-top: 3rem;
}

/*Sub title ID headers 2*/
#introduction-sub-title-topics,
#chapter-one-sub-title-topic{
    margin: 0;
    font-size: 1.7rem;
}

/*Eliminate all bullet point dots*/
li{
    list-style: lower-roman;
}

/*All of the paragraphs*/
p{
    text-align: left;
    line-height: 1.3em;
    font-size: 17px;
}
.bash-code{
    text-align: left;
    font-size: 0.9rem;
    margin: 0;
}

/*pre tags style format*/
pre{
    white-space: pre-line;
    text-align: left;
    line-height: 0.3;
    max-width: 100%;
    border-radius: 10px;
}

.bash-shell-language{
    list-style: none;
    opacity: 0.85;
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    z-index: 2;
}


/*Changing the size of the work list*/
.card-notes{
    opacity: 0.85;
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/*All of the hyper reference links*/
a{
    font-size: 17px;
    color: #3366CC;
}

ol{
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/*Calling the subtitles to create empty spaces*/
.introduction-container{
    text-align: center;
}

/*Creates a condition for this resolution */
@media (max-width:900px){
    .page-wrapper, .side1, .side2, .title-card{
        width: 90%;
    }
}
